# dia:begin gitignore/base.ignore

# Base

# macOS
._*
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
* [0-9]
* [0-9].*
* copy
* copy.*
*.nosync/
Icon[[]]

# Linux
.nfs*
*~

# Windows
$RECYCLE.BIN/
Desktop.ini
ehthumbs.db
Thumbs.db

# Logs and temporary files
*.bak
*.bkp
*.log
*.swo
*.swp
*.tmp
log/
logs/
tmp/

# Local environment variables
.env
.env.*
!.env.example
.envrc
.envrc.*
!.envrc.example
!.envrc

# dia:end

# Keep tracked defaults (base ignores .env.*)
!.env.default

# dia:begin gitignore/python.ignore

# Python

__pycache__/
*.egg-info/
*.pyc
*.pyi
/.python-version
/.venv/
local_settings.py

# dia:end

